{% extends "dgram/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">@{{ object.author }}</a>
              <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
              {% if post.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
              {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
                    <!--Carousel Wrapper-->
            <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                {% for p in image_list %}
                  <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
                {% endfor %}
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  {% for p in image_list %}
                  <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                    <img class="d-block w-100" src="{{ p.image.url }}"
                      alt="First slide">
                  </div>
                  {% endfor %}
                  <!--/First slide-->
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
                </div>
            </div>
            <div style="display:flex">
                {% for tag in object.tags.all %}
                    <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="d-flex flex-row">

                <button
                        style="background-color: transparent; border: none; box-shadow: none;"
                        id="like-button-{{ object.pk }}"
                        class="button-like"
                        data-post-id="{{ object.pk }}"
                ><i class="bi bi-hand-thumbs-up"></i> <span id="like_count-{{ object.pk }}">{{ object.likes.all.count }}</span></button>
                {% csrf_token %}
                <button
                        style="background-color: transparent; border: none; box-shadow: none;"
                        id="dislike-button-{{ object.pk }}"
                        class="button-dislike"
                        data-post-id="{{ object.pk }}"
                ><i class="bi bi-hand-thumbs-down"></i> <span id="dislike_count-{{ object.pk }}">{{ object.dislikes.all.count }}</span></button>
            </div>
        </div>
    </article>

{% include 'dgram/ajax_like_dislike.html' %}

{% endblock content %}