{% extends "dgram/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% load cloudinary %}
    <div class="content-section">
        <form id="post_form" method="post" action="" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
              </fieldset>
              <div class="form-group">
                <label for="post-image">Images</label>
                <input type="file" name="image" class="form-control-file" id="post-image" multiple>
              </div>
              <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
              </div>
        </form>
    </div>

{% endblock content %}