{% extends "dgram/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form id="post_form" method="post" action="" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
              </fieldset>
              {{ imageform.management_form }}
              {% for form in imageform %}
                  {{ form }}
              {% endfor %}
              <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
              </div>
        </form>
    </div>

{% endblock content %}