body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

/*ul {
  margin: 0;
}*/

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* Profile Feed */
.col-lg-6 {
    margin: auto;
}

.profile-feed {
    padding: 0rem 0px !important;
    margin: 0px !important;
}

.cardbox {
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0px !important;
}

.list {
    list-style: none;
    line-height: 50px;
    font-size: 20px;
}

.card-body {
    font-size: 20px;
}


/* Cardbox Heading */

.cardbox .cardbox-heading {
    padding: 16px;
    margin: 0;
}

.cardbox .btn-flat.btn-flat-icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    color: #fff !important;
    background: #b5b6b6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardbox .float-right .dropdown-menu {
    position: relative;
    left: 13px !important;
}

.cardbox .float-right a:hover {
    background: #f4f4f4 !important;
}

.cardbox .float-right a.dropdown-item {
    display: block;
    width: 100%;
    padding: 4px 0px 4px 10px;
    clear: both;
    font-weight: 400;
    font-size: 14px !important;
    color: #848484;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}


/* Media Section */
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.media .mr-3 {
    margin-right: 1rem !important;
}

.media .profile-img {
    width: 125px !important;
    height: 125px !important;
    padding: 2px;
    border: 2px solid #f4f4f4;
}

.media .post-account {
    width: 58px !important;
    height: 58px !important;
    padding: 2px;
    border: 2px solid #f4f4f4;
}

.media-body {
    -ms-flex: 1;
    flex: 1;
    padding: .4rem !important;
}

.media-body p {
    font-weight: 500 !important;
    font-size: 20px;
    color: #88898a;
}

.media-body small span {
    font-size: 13px;
    color: #aaa;
    margin-right: 10px;
}


/* Cardbox Item */
.cardbox .cardbox-item {
    position: relative;
    display: block;
}

.cardbox .cardbox-item img {}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.fw {
    width: 100% !important;
    height: auto;
}


/* Cardbox Base */
.cardbox-base {
    border-bottom: 2px solid #f4f4f4;
}

.cardbox-base ul {
    margin: 10px 0px 10px 15px !important;
    padding: 10px !important;
    display: inline-block;
}

.cardbox-base li {
    list-style: none;
    margin: 0px 0px 0px -8px !important;
    padding: 0px 0px 0px 0px !important;
    display: inline-block;
}

.cardbox-base li a {
    margin: 0px !important;
    padding: 0px !important;
}

.cardbox-base li a i {
    position: relative;
    top: 4px;
    font-size: 16px;
    color: #8d8d8d;
    margin-right: 15px;
}

.cardbox-base li a span {
    font-size: 14px;
    color: #8d8d8d;
    margin-left: 20px;
    position: relative;
    top: 5px;
}

.cardbox-base li a em {
    font-size: 14px;
    color: #8d8d8d;
    position: relative;
    top: 3px;
}

/* login */
